# Data
train_data/
test_data/
train_data/Trees_Winter_Day
links to files.txt
ONNX implementation and YOLO training locally.txt
debug_frames
Ashes of Creation Bot Project Context File.docx
*.tmp
# Models
models/*.onnx
!models/placeholder.txt  # Keep empty file to retain folder

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/
.env

# IDE
.vscode/
.idea/
.DS_Store